/* הגדרת סגנונות כלליים */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column; /* מאפשר הצגת ה-H2 מעל הטופס */
}

/* כותרת */
h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px; /* ריווח בין הכותרת לטופס */
}

/* עיצוב טופס */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* שדות קלט */
input[type="text"] {
    width: 94.5%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* כפתור */
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }
}
